@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit; 
}
#root{
  min-height: 100vh;
  display: flex;  
  animation: fadeIn 2.5s;
}

@keyframes fadeIn {  
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media (max-width: 768px) { 
    body {
        overflow-x: hidden;
    }

    #root {
        flex-direction: column;
    }

    .App {
        flex-direction: column;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
}

